@model Gestao_de_Projetos.Models.MembroProjeto

@{ ViewData["Title"] = "Create"; }

@foreach (var projeto in ViewData["ProjectID"] as List<Project>)
{
<h1>@projeto.Nome_projeto</h1>}
<h4>Membros</h4>
<hr />


<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
                Função
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewData["MembrosID"] as List<Membros>)
        {
<tr>
    <td>
        @item.Nome_membro
    </td>
    <td>
        @item.Email
    </td>

    <td>
        @item.Funcao.NomeFuncao
    </td>

    <td>
        @using (Html.BeginForm("Create", "MembroProjeto", FormMethod.Post))
        {
@foreach (var projeto in ViewData["ProjectID"] as List<Project>)
{

                    <input type="hidden" name="ProjectID" value="@projeto.ProjectID" class="btn btn-success">
                     <input type="hidden" name="MembrosID" value="@item.MembrosID" class="btn btn-success">
                     <input type="submit" value="Adicionar" class="btn btn-success">}
}
    </td>

</tr>}
    </tbody>
</table>

<div>
    <a asp-controller="Projects" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
