@model Gestao_de_Projetos.Models.MembroProjeto



@{ ViewData["Title"] = "Create"; }



@foreach (var projeto in ViewData["ProjectID"] as List<Project>)
{
    <h1>@projeto.Nome_projeto</h1>}
<h4>Membros</h4>
<hr />



<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
                Função
            </th>
            <th>
                Data de Inicio
            </th>
            <th>
                Data de Fim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Create", "MembroProjeto", FormMethod.Post, new { @id = "membroProjetoForm" }))
        {
            @foreach (var item in ViewData["MembrosID"] as List<Membros>)
            {
                <tr>
                    <td>
                        @item.Nome_membro
                    </td>
                    <td>
                        @item.Email
                    </td>



                    <td>
                        @item.Funcao.NomeFuncao
                    </td>
                    <td>
                        <input id="data_inicio" type="date" name="DataInicio">
                    </td>
                    <td>
                        <input id="data_fim" type="date" name="DataEfetivaFim">
                    </td>
                    <td>



                        @foreach (var projeto in ViewData["ProjectID"] as List<Project>)
                        {



                            <input type="hidden" name="ProjectID" value="@projeto.ProjectID" class="btn btn-success">
                            <input type="hidden" name="MembrosID" value="@item.MembrosID" class="btn btn-success">
                            <input type="submit" value="Adicionar" class="btn btn-success">}



                    </td>



                </tr>
}}
    </tbody>
</table>



<div>
    <a asp-controller="Projects" asp-action="Index">Voltar</a>
</div>




<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {

        var formElement = document.getElementById("membroProjetoForm");



        formElement.addEventListener("submit", function (e) {

            var dataInicio = Date.parse(document.getElementById("data_inicio").value);
            var dataFim = Date.parse(document.getElementById("data_fim").value);



            if (isNaN(dataInicio)) {
                alert("Selecione a data de inicio");
                e.preventDefault();
                return;
            }



            if (isNaN(dataFim)) {
                alert("Selecione a data de fim");
                e.preventDefault();
                return;
            }



            if (dataFim < dataInicio) {
                alert("A data de fim deve ser maior que a data de inicio");
                e.preventDefault();
            }



        });
    });

</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}