@model Gestao_de_Projetos.Models.MembroProjeto

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem Certeza?</h3>
<div>
    <h4>MembroProjeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Membros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Membros.Email)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Nome_projeto)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEfetivaFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEfetivaFim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="membroProjeto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="MembroProjeto" asp-action="ShowAllDelete" asp-route-id="@Model.ProjectID">Voltar</a>
    </form>
</div>
