@model IEnumerable<Gestao_de_Projetos.Models.MembroProjeto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.DataEfetivaFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Membros.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Nome_projeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DataEfetivaFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.membroProjeto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.membroProjeto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.membroProjeto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
