@model Gestao_de_Projetos.Models.Membros

@{
    ViewData["Title"] = "Delete";
}



<h3>Apagar</h3>
<div>
    <h4>Membros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_membro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_membro)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao.NomeFuncao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MembrosID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
