@model MembroListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Membros</h1>
<p>Numero total de @Model.PagingInfo.TotalItems Membros</p>

<p>
    <a asp-action="Create">Criar Novo Membro</a>
</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Pesquisar</h5>
        <form asp-action="Index" method="get">
            <label for="title" class="control-label">Nome</label>
            <input name="title" type="search" class="form-control" value="@Model.membroSearched" />
            <div class="mt-3">
                <input type="submit" value="Search" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-secondary">Limpar</a>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome membro
            </th>
            <th>
               Sobrenome
            </th>
            <th>
               Telefone
            </th>
            <th>
               NIF
            </th>
            <th>
                Email
            </th>
           
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaMembros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_membro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_funcao)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_membro">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID_membro">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID_membro">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="mt-3">
<ul class="pagination">
    @{
        if (Model.PagingInfo.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Primeira</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="1">Primeira</a>
            </li>
        }

        int firstPage = Model.PagingInfo.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
        if (firstPage < 1) firstPage = 1;

        int lastPage = Model.PagingInfo.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
        if (lastPage > Model.PagingInfo.TotalPages) lastPage = Model.PagingInfo.TotalPages;

        for (int p = firstPage; p <= lastPage; p++)
        {
            if (p == Model.PagingInfo.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link" href="#">@p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@p">@p</a>
                </li>
            }
        }

        if (Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Ultima</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@Model.PagingInfo.TotalPages">Ultima</a>
            </li>
        }
    }
</ul>
</nav>