@model MembroListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var membros in Model.ListaMembros)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">@membros.Nome_membro</h5>
            <p class="card-text">@membros.Sexo</p>
            <p class="card-text">@membros.Telefone</p>
           

            <a asp-action="Details" asp-route-id="@membros.ID_membro" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@membros.ID_membro" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@membros.ID_membro" class="btn btn-danger">Delete</a>
        </div>
    </div>
}
