@model IEnumerable<Gestao_de_Projetos.Models.Membros>

@{
    ViewData["Title"] = "Index";
}

<h1>Membros</h1>

<p>
    <a asp-action="Create">Criar Novo Membro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_membro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_funcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_membro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_membro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_membro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_membro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
