@model IEnumerable<Gestao_de_Projetos.Models.Tarefas>

@{
    ViewData["Title"] = "Index";
}

<h1>Tarefas</h1>

<p>
    <a asp-action="Create">Criar Nova Tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Tarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Tarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_projeto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTarefas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTarefas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTarefas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
