@model Gestao_de_Projetos.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_projeto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevistaFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPrevistaFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEfetivaFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEfetivaFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
