@model Gestao_de_Projetos.Models.Projetos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projetos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_projeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_projeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_fim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_fim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_projeto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
