@model IEnumerable<Gestao_de_Projetos.Models.Projetos>

@{
    ViewData["Title"] = "Index";
}

<h1>Projetos</h1>

<p>
    <a asp-action="Create">Criar Novo Projeto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_projeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_projeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_projeto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_projeto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_projeto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
