@model ProjetosListViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>There are a total of @Model.PagingInfo.TotalItems projetos</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var projeto in Model.ListaProjetos)
{
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">@projeto.Nome_projeto</h5>
            <p class="card-text">@projeto.Data_inicio</p>
            <p class="card-text">@projeto.Data_fim</p>

            <a asp-action="Details" asp-route-id="@projeto.ID_projeto" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@projeto.ID_projeto" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@projeto.ID_projeto" class="btn btn-danger">Delete</a>
        </div>
    </div>
}