@model IEnumerable<Gestao_de_Projetos.Models.MembroProjeto>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_projeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_membro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_projeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_membro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_MembroProjeto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_MembroProjeto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_MembroProjeto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
